.admin {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .admin {
    min-height: 100vh;
    justify-content: initial;
    background-color: #f2f2f2;
  }
}
