.course-page {
  display: grid;
  padding: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.course-card {
  background-color: var(--kc-blue);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.course-card a {
  color: #fff;
  text-decoration: none;
}

.course-card h2 {
  font-size: 1rem;
}

/* COURE DETAILS PAGE */
.head {
  padding: 1.5rem;
  background-color: #f2f2f2;
}
.head .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}

.head img {
  display: none;
}

.back {
  background-color: var(--kc-blue);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  width: 80px;
  cursor: pointer;
}

.course-details .body {
  padding: 1.5rem;
  line-height: 2rem;
  background-color: #fff;
}

.course-details .body p {
  margin-bottom: 2rem;
}

.course-details .body ul {
  padding-left: 1rem;
  list-style-type: square;
}

@media screen and (min-width: 769px) {
  .course-page {
    padding: 8rem 4rem;
    grid-gap: 4rem;
  }

  .course-card {
    padding: 0;
  }

  .course-card h2 {
    font-size: initial;
  }

  /* COURE DETAILS PAGE */
  .head {
    padding: 4rem;
  }

  .head .title {
    justify-content: center;
    font-size: 3rem;
  }

  .head img {
    width: 20rem;
    display: block;
    margin-left: 6rem;
  }

  .course-details .body {
    padding: 4rem;
    line-height: 3rem;
  }
}
