footer{
  color: #ffffff;
  font-size: 16px;
  background-color: var(--primary);
  display: grid;
  row-gap: 2rem;
  padding: 2rem 0;
}

.footer-top{
  display: grid;
  place-items: center;
  row-gap: 2rem;
}

.footer-top .logo{
  color: #ffffff;
}

footer .socials{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 7.5rem;
  place-items: center;

}
.socials i{
  color: #ffffff;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #ffffff;
  text-decoration: none;
}


/* Small screens and laptops */
@media screen and (min-width: 769px) {
  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 6rem;
  }

  footer .socials i{
    margin-left: 2rem;
  }
  .footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
}