.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem 1rem 1.5rem;
}
@media screen and (max-width: 768px) {
  .nav {
  }
}

.nav .logo p {
  color: #6ba1f3;
}

.menu {
  background: rgb(255, 255, 255);
  list-style-type: none;
  position: absolute;
  width: 50%;
  top: 5rem;
  right: 0;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 1rem 0;
  z-index: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

}

.menu li{
  margin-bottom: 1rem;
}

.menu li a:focus, .menu li a:hover{
  color: var(--kc-blue);
}

.menu a {
  text-decoration: none;
  color: var(--primary);
}


@media screen and (min-width: 769px) {
  .nav {
    padding: 2rem 12rem 1rem 12rem;
  }
}
