.profile-wrap{
  width: 100%;
}

.profile{
  background-color: #ffffff;
  padding: 4rem 1.5rem;
  display: grid;
  row-gap: 1.5rem;
}

.profile img{
  border-radius: 50%;
}

.profile-details{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

@media screen and (min-width: 769px){
  .profile-wrap{
    width: 55%;
    margin: 0 auto;
    align-self: center;
  }

  .profile{
    padding: 6rem 4rem;
    border-radius: 10px;
    display: grid;
    row-gap: 2rem;
  }
  
  .profile-details{
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 2rem;
  }
  
  .profile-details .address{
    grid-column: 1/3;
  }
}