*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: var(--primary);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
